#cat
{
    height: 250px;
    width: 250px;
    background-color: black;
    border: black solid;
    transition: background-color 0.3s ease-in-out;
}

#images
{
    position: relative;
    height: 500px;
    width: 500px;
    left: 50px;
    top: 50px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

#imgCarpet
{
    position: relative;
    left: 99px;
    top: -63px;
}

#imgWeather
{
    position: relative;
    left: 348px;
    top: -50px;
    max-width: 75%;
}

#imgWindow
{
    position: relative;
    left: 200px;
    top: 200px;
}

#imgCat
{
    position: absolute;
    left: 132px;
    top: 135px;
    max-width: 85%;

}

#hitboxCat
{
    position: absolute;
    left: 150px;
    top: 150px;
    width: 320px;
    height: 300px;
    z-index: 99;
    pointer-events: all;
}

#imgClock
{
    position: absolute;
    background-image: url("../images/clock.png");
    left: 10px;
    top: -55px;
    width: 100px;
    height: 83px;
}

#clockText
{
    position: absolute;
    font-size: 30px;
    left: 30px;
    top: 20px;
    font-family: 'Seven Segment', sans-serif;
}

#imgFood
{
    position: relative;
    left: 220px;
    top: -80px;
    height: 237px;
}

#hitboxFood
{
    position: absolute;
    left: 770px;
    top: 690px;
    width: 180px;
    height: 180px;
    pointer-events: all;
}

#imgWater
{
    position: relative;
    left: 4px;
    top: 66px;
    height: 198px;
}

#hitboxWater
{
    position: absolute;
    left: 475px;
    top: 675px;
    width: 200px;
    height: 200px;
    z-index: 99;
    pointer-events: all;
}

#imgPlay
{
    position:relative;
    left: -8px;
    top: 532px;
    height: 251px;
}

#hitboxPlay
{
    position:relative;
    left: 600px;
    top: -170px;
    width: 200px;
    height: 200px;
    pointer-events: all;
}