#cat{
    height: 250px;
    width: 250px;
    background-color: black;
    border: black solid;
    transition: background-color 0.3s ease-in-out;
}

#cat:hover{
    background-color: grey;
    /* messing around. will do this in tailwind */
}

#quote{
    background-color: goldenrod;
}
#clock {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
  }